.myTags{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 1%;
    border: 2px solid gray;
    box-shadow:  5px 5px 10px #737373,
             -5px -5px 10px #ffffff;
    margin: 20px;
}