.tags-style-class{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 0.5%;
    margin: 0px 20px;
}

.inner-tags{
    background-color: #6474E5;
    color: #fff;
    box-shadow: -2px -2px 4px #ffffff,
               2px 2px 4px #ceced1;
    margin: 3px;
    padding: 7px;
    border-radius: 5px;
}

.inner-tags:hover{
    background-color: #FFDDCC;
    color: black;
    font-weight: bold;
    transform: scale(1.02) translate(0, -0.5%);
    transition: all .3s ease-in-out;
}