*{
    font-family: 'Montserrat', sans-serif;
}

.navbar-item{
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar-item:hover{
    color: #f4a4a4;
}

.navbar-item1{
    font-size: 16px;
    text-decoration: none;
    margin-left: 300px;
}

.navbar-item1:hover{
    text-decoration: none;
    color: #f4a4a4;
}

.no-decoration:hover{
    text-decoration: none;
}

#navbar-button{
    margin: 10px auto auto 20px;
    font-weight: bold;
    background-color:#f4a4a4;
    border-color: #f4a4a4;
}

#navbar-button:hover{
    text-decoration: none;
    background-color: #FFDDCC;
    border-color: #FFDDCC;
    transform: scale(1.01) translate(0, -0.5%);
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 770px){
  .todo-dropdown-items{
    color: #000;
    background-color: #fff;
    border: 1px solid;
  }
}
